[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-talteen
Exec=harbour-talteen
Name=Talteen

[X-Sailjail]
OrganizationName=org.harbour-talteen
ApplicationName=harbour-talteen
Permissions=UserDirs;RemovableMedia;CommunicationHistory
#Sandboxing=Disabled