polkit.addRule(function(action, subject) {
    if ((action.id == "org.freedesktop.packagekit.system-sources-refresh" ||
         action.id == "org.freedesktop.packagekit.package-install") &&
        subject.user == "defaultuser") {
        return polkit.Result.YES;
    }
});